
.NavLink{
    margin: 1%;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


.Option {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 1%;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 1rem;
    background: #000000;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.822);
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

   .Activeoption {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 1%;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 2 rem;
    background: rgba(237, 245, 239, 0.822);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0c0101;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .Carrito {
      width: 10%;
      float: right;
      margin-right: 3%;
  }