* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

  body{
    z-index: 1;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 76, 231);
    color: white;
    text-align: center;
    margin-top: 3%;
  }